
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div class="footer">
		<div class="container">
			<div class="footer-top-at">
				<div class="col-md-4 amet-sed ">
					<h4>Service center</h4>
					<ul class="nav-bottom">
						<li><a href="#">Hà nội: An Trai, Vân Canh, Hoài Đức, Hà Nội.</a></li>
						<li><a href="#">Hà Nam: Tp Phủ Lý, Hà Nam.</a></li>
						<li><a href="#">Hotline: 0364.036.765</a></li>
						<li><a href="#">Email: itwatch.cskh@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Chăm sóc khách hàng</h4>
					<ul class="nav-bottom">
						<li><a href="/itwatch/chinhSachBaoHanh">Chính sách bảo hành</a></li>
						<li><a href="/itwatch/chinhSachDoiTra">Chính sách đổi trả</a></li>
						<li><a href="#">Hotline: 0364.036.765</a></li>
						<li><a href="#">Email: itwatch.cskh@gmail.com</a></li>
					</ul>
				</div>
				<div class="col-md-4 amet-sed">
					<h4>Về ITWATCH</h4>
					<ul class="nav-bottom">
						<li><a href="#">Giới thiệu</a></li>
						<li><a href="#">Triết lý kinh doanh</a></li>
						<li><a href="#">Khách hàng nói gì về ITWATCH</a></li>
						<li><a href="#">Giấy chứng nhận và giải thưởng</a></li>
						<li><a href="#">Luôn luôn miễn phí vận chuyển</a></li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-class">
			<p>
				© 2023 New store All Rights Reserved | Design by <a
					href="/itwatch">ITWATCH</a>
			</p>
			<p>
				Góp ý & Khiếu nại: itwatch.cskh@gmail.com
			</p>
		</div>
	</div>
</body>

</html>